@charset "UTF-8";

.phone-style {
    border: 2px solid lightgray;
}

input[type="email"], input[type="password"], input[type="text"], input[type="tel"] {
    border-radius: 0;
    box-shadow: none;
    height: 36px;
    outline: none;
    font-weight: 200;
    font-size: 1.5rem;
}